@model ProdutoListViewModel


<div>
    <h2>@Model.CategoriaAtual</h2>
</div>

<hr />

<div class="container">
    <div class="row">

        @foreach (var produto in Model.Produtos)
        {
            <div class="col-sm-4 col-md-4 col-lg-4">
                <p><img src="@produto.ImagemThumbnailUrl" class="img-fluid" /></p>
                <h3>@produto.Preco.ToString("c")</h3>
                <h4>@produto.Nome</h4>
                <p>@produto.DescricaoCurta</p>
            </div>
        }
    </div>
</div>